 * {
    box-sizing: border-box;
    font-family: 'Noticia Text', serif;
   
  }

  h1 {
     font-size: 25px;
     border-bottom: 1px solid lightslategray;
     padding: 5px;
   }
  
   h2 {
    font-size: 17px;
    font-style: normal;
    font-weight: lighter;
   }

   h3 {
    color:white;
    font-size: 16px;
    text-align: left;
    padding: 3px;
    background-color: rgb(45, 45, 45);    

   }

   h4{
    font-size: 15px;
    text-align: left;
    padding: 3px;
    color: white;
    margin-right:auto;
    margin-bottom: 5px;
    border-bottom:1px rgb(124, 124, 124) solid
    
  }

   ul {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    font-weight:lighter
   }

   li {
    padding: 5px;
    margin: 3px;
   }
  
button {
  margin-left: 10px;
  
}
  
 body {

  background-color: rgb(52, 49, 49);
  max-width: 900px;
  margin:40px
  
 
  }


  encabezado {
    color: white;
    text-align: center;
    width: 30%;
    min-height: 1000px;
    float: left;
    background-color: rgb(61, 65, 85);
    padding: 4px;

    
  }

  lateral {
    
    width: 70%;
    float: left;
    background-color: white;
    padding: 10px;
    min-height: 1000px;

  }

  .retrato {
    position: relative;
    top: 0;
    margin: 20px;
    padding-bottom: 15px;
    border-bottom:1px lightslategray solid


  }

  .retrato:hover {
    transform: scale(1.97); /* (Note: if the zoom is too large, it will go outside of the viewport) */
    border-bottom: 0px;
    top: 8px
    
  }

  .datos_personales {
    padding: 3px;
    text-align: left;
    
    
  }

  .info {
    display: none;
    font-size: 16px;
    text-align: center;
    
  }

  

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(129, 129, 117);
    background-color: transparent;
    text-decoration: underline;
  }


@media (max-width:900px)    
  {
   
    encabezado {
      margin: 0px;
      width: 100%;
      min-height: 400px;
      min-width: 225px;
    }
     
    lateral {
      width:100%;    
      min-height: 700px;
      min-width: 225px 
    }
  
  
   li {
      font-size: 12px;
      
    } 
  
    p {
  
      font-size: 14px;
    }
  
    ul {
      font-size: 13px;
      margin-top: 4px;
      margin-bottom: 4px;
      padding-left: 2px;
      font-weight:lighter
     }
  }


    