 * {
    box-sizing: border-box;
   
  }

  h1 {
     font-size: 25px;
     border-bottom: 1px solid lightslategray;
     padding: 5px;
   }
  
   h2 {
    font-size: 17px;
    font-style: normal;
    font-weight: lighter;


   }
   h3 {
    color:white;
    font-size: 16px;
    text-align: left;
    padding: 3px;
    background-color: rgb(45, 45, 45);
    
    

   }

   h4{
    font-size: 15px;
    text-align: left;
    padding: 3px;
    color: white;
    margin-right:auto;
    margin-bottom: 5px;
    border-bottom:1px rgb(124, 124, 124) solid
    

    
   }

   ul {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    font-weight:lighter
   }

  
 body {

  background-color: rgb(27, 27, 27);
  max-width: 900px;
 
  }


  header {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    min-height: 1000px;
    float: left;
    background-color: rgb(61, 65, 85);
    border: 3px solid rgb(57, 57, 57);
    padding: 4px;

    
    
  }

  aside {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    float: left;
    background-color: white;
    padding: 10px;
    min-height: 1000px;

  }

  .retrato {
    position: relative;
    top: 0;
    margin: 20px;
    padding-bottom: 15px;
    border-bottom:1px lightslategray solid


  }

  .Datos_personales {
    padding: 3px;
    text-align: left;
    
    
  }

  .Perfil {
   margin-left: 10%;

  }
  

    


  


    