




header {
    margin: 0px;
    width: 100%;
    min-height: 400px;
  }
   
  aside {
    width:100%;    
    min-height: 700px; 
  }


 li {
    font-size: 12px;
    
  } 

  p {

    font-size: 14px;
  }

  ul {
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 2px;
    font-weight:lighter
   }